*.swp
*.swo
**/_build
**/*.btc
**/*.cmx
**/*.cmo
**/*.cmi
**/*.conflicts
**/*.automaton
a.out
art/*.o
art/ARTLexer.ml 
art/ARTParser.ml 
art/ARTParser.mli 
art/ARTCompiler
stk/*.byte 
stk/*.cmo 
stk/*.cmi 
stk/*.ml 
stk/STKCompiler
vm/*.byte 
vm/*.cmo 
vm/*.cmi 
vm/VM
assembler/*.byte 
assembler/*.cmo 
assembler/*.cmi 
assembler/Assembler
utils/*.cmo
utils/*.cmi
test/*.asm 
test/*.btc
**/*.o
!/.vscode
