*.swp
*.swo

**/_build
**/*.btc
**/*.cmx
**/*.cmo
**/*.cmi
**/*.conflicts
**/*.automaton
**/*.btc
**/*.asm
a.out
compiler/ChainCompiler

typ/tpl/*.cmi
typ/tpl/*.cmo
typ/tpl/TPLCompiler
# A compléter


var/var/*.cmi
var/var/*.cmo
var/var/VARParser.conflicts
var/var/VARParser.automaton
var/var/VARParser.mli
var/var/VARParser.ml
var/var/VARLexer.ml
var/var/VARCompiler
test/var/*.fun
test/var/*.cll
test/var/*.imp
test/var/*.art
test/var/*.stk

var/fun/*.cmi
var/fun/*.cmo
var/fun/FUNParser.conflicts
var/fun/FUNParser.automaton
var/fun/FUNParser.mli
var/fun/FUNParser.ml
var/fun/FUNLexer.ml
var/fun/FUNCompiler
test/fun/*.cll
test/fun/*.imp
test/fun/*.art
test/fun/*.stk

var/cll/*.cmi
var/cll/*.cmo
var/cll/CLLParser.conflicts
var/cll/CLLParser.automaton
var/cll/CLLParser.mli
var/cll/CLLParser.ml
var/cll/CLLLexer.ml
var/cll/CLLCompiler
test/cll/*.imp
test/cll/*.art
test/cll/*.stk

interprete_var/*.cmi 
interprete_var/*.cmo 
interprete_var/VARParser.conflicts 
interprete_var/VARParser.automaton
interprete_var/VARParser.ml 
interprete_var/VARParser.mli 
interprete_var/VARInterpreter 
interprete_var/VARLexer.ml

imp/*.o
imp/IMPLexer.ml
imp/IMPParser.ml
imp/IMPParser.mli
imp/IMPCompiler
test/imp/*.art
test/imp/*.stk

art/*.o
art/ARTLexer.ml 
art/ARTParser.ml 
art/ARTParser.mli 
art/ARTCompiler
test/art/*.stk

stk/*.byte 
stk/*.cmo 
stk/*.cmi
stk/*.cmx
stk/*.ml
stk/STKCompiler
stk/STKCompilerAlloc

vm/*.byte 
vm/*.cmo 
vm/*.cmi
vm/*.cmx
vm/VM

assembler/*.byte 
assembler/*.cmo 
assembler/*.cmi 
assembler/Assembler

utils/*.cmo
utils/*.cmi
utils/*.cmx

**/*.o
!/.vscode
