*.swp
*.swo

**/_build
**/*.btc
**/*.cmx
**/*.cmo
**/*.cmi
**/*.conflicts
**/*.automaton
a.out

var/cll/*.cmi
var/cll/*.cmo
var/cll/CLLParser.conflicts
var/cll/CLLParser.automaton
var/cll/CLLParser.mli
var/cll/CLLParser.ml
var/cll/CLLLexer.ml

interprete_var/*.cmi 
interprete_var/*.cmo 
interprete_var/VARParser.conflicts 
interprete_var/VARParser.automaton
interprete_var/VARParser.ml 
interprete_var/VARParser.mli 
interprete_var/VARInterpreter 
interprete_var/VARLexer.ml

imp/*.o
imp/IMPLexer.ml
imp/IMPParser.ml
imp/IMPParser.mli
imp/IMPCompiler
test/imp/*.art
test/imp/*.stk
test/imp/*.btc

art/*.o
art/ARTLexer.ml 
art/ARTParser.ml 
art/ARTParser.mli 
art/ARTCompiler
test/art/*.stk
test/art/*.btc

stk/*.byte 
stk/*.cmo 
stk/*.cmi
stk/*.cmx
stk/*.ml
stk/STKCompiler
stk/STKCompilerAlloc
test/stk/*.btc

vm/*.byte 
vm/*.cmo 
vm/*.cmi
vm/*.cmx
vm/VM

assembler/*.byte 
assembler/*.cmo 
assembler/*.cmi 
assembler/Assembler

utils/*.cmo
utils/*.cmi
utils/*.cmx

**/*.o
!/.vscode
